.footer {
  height: 60px;
  width: 60vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 30px;
}

@media screen and (max-width: 550px){
  .footer {
  height: 60px;
  width: 80vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 30px;
}
}





.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}


.page:hover {
  transform: scale(1.05);
  transition: 0s ease-in-out 0.5;
}



.cntext {
  font-family: 'Microsoft YaHei', '微软雅黑', Arial, Helvetica, sans-serif;
}

.cntext.loaded {
  font-family: "Apple", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

@view-transition {
  navigation: auto;
}